{{ define "section_content" }}
<article class="flex-container">
    {{ .Content }}
</article>
<nav role="navigation">
    <ul>
        {{ range .Data.Pages }}
        <li>
            <span class = 'postname'>
                <a href="{{.RelPermalink}}">
                    {{.Title | markdownify}}
                </a>
            </span>
            <span class="postdate" style="float:right">
            {{ if .Params.showDate }}
            {{ .Date.Format (.Site.Params.dateForm | default "Jan 02, 2006")}}
            {{ end }}
            </span>
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}